/* Hide right side bar */
.bd-sidebar-secondary {
  display: none;
}

/* Create bars showing the nesting levels of the doocs */
dl.py.class,
dl.py.function,
dl.py.method,
dl.py.attribute {
    border-left: 2px solid var(--pst-color-border);
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

/* Hide things meant for the Github Readme only */
.github-only {
    display: none;
}